  /* The Modal (background) */
  
  .paymentModal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
  }
  /* Modal Content */
  
  .paymentModal-content {
      background-color: white;
      margin: auto;
      border-radius: 8px;
      border: none;
      height: 60%;
      width: 25%;
      text-align: center;
  }
  
  .paymentAmount {
      background-color: #d1d1d4;
      margin: auto;
      border-radius: 8px;
      border: none;
      height: 15%;
      width: 80%;
      margin-top: 18%;
      position: absolute;
      margin-left: 10%;
  }
  
  .KDV {
      position: absolute;
      background-color: white;
      border-radius: 8px;
      border: none;
      height: 15%;
      width: 39%;
      margin-left: 10%;
      top: 40%;
      border-style: solid;
      border-color: #d1d1d4;
  }
  
  .withoutKDV {
      position: absolute;
      background-color: white;
      border-radius: 8px;
      border: none;
      height: 15%;
      width: 40%;
      right: 10%;
      top: 40%;
      border-style: solid;
      border-color: #d1d1d4;
  }
  
  .date {
      background-color: #d1d1d4;
      margin: auto;
      border-radius: 8px;
      border: none;
      height: 15%;
      width: 80%;
      bottom: 25%;
      margin-left: 10%;
      position: absolute;
  }
  
  .takePayment {
      background-color: #282425;
      margin: auto;
      border-radius: 20px;
      border: none;
      height: 15%;
      width: 80%;
      margin-bottom: 5%;
      position: relative;
  }
  
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }
  
  .checkbox {
      position: absolute;
      top: 25%;
      left: -6%;
      height: 50%;
      width: 50%;
      background-color: #eee;
  }

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modalP {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contentPayment {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .closeP {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeP:hover,
  .closeP:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modalN {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contentNote {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .closeN {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeN:hover,
  .closeN:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }